// *** PLACEHOLDERS ***

%fake-link {
cursor: pointer;
user-select: none;
}


%button {
  width: fit-content;
  color: $body-color;
  background-color: $button-color;
  padding: .7em 1em;
  border-radius: $button-radius;
  font-weight: 500;

  &:hover {
  background-color: $hover-color;
}
}


%text-link {
  a {
    color: $button-color;
    &:hover {
      color: $hover-color;
    }
}
}
