// *****  GLOBAL VARIABLES *****

$content-width: 860px;
$body-color: #333233;
$border-style: solid 1px #4e4b4d;
$button-color: #fed053;
$button-radius: 5px;
$hover-color: #ebab00;
$atom-tan: #efdab9;
